<%- include("partials/header"); -%>
<div class="navbar-fixed">
   <h1 class="pt-3 pb-3 display-2 text-center nav-head" style="color: #05386b; font-size: 2.7rem;">Department of Electronics Engineering</h1>
</div>

<div class="container">
   <h2 class="text-center">Admissions</h2>
   <table class="table table-striped">
      <thead>
         <tr>
            <th scope="col">S.No.</th>
            <th scope="col">Course</th>
            <th scope="col">Medium</th>
         </tr>
      </thead>
      <tbody>
         <tr>
            <th scope="row">1</th>
            <td>Undergraduate - B.Tech in Electronics & Communication Engineering</td>
            <td>Through JoSSA (Centralised Admission System) Prerequisites: 10+2 in Science Stream + JEE ( MAINS )</td>
         </tr>
         <tr>
            <th scope="row">2</th>
            <td>Postgraduate - M.Tech Specialization in CS/VLSI</td>
            <td>Through CCMT Prerequisites: BE / BTech + GATE in Electronics Engineering</td>
         </tr>
         <tr>
            <th scope="row">3</th>
            <td>PhD in Electronics Engineering</td>
            <td>Through Competitive test + Interview Prerequisites: ME / MTech in Electronics Engineering</td>
         </tr>
      </tbody>
   </table>
</div>
<%- include("partials/footer"); -%>