<%- include("partials/header"); -%>
<div class="navbar-fixed">
   <h1 class="pt-3 pb-3 display-2 text-center nav-head" style="color: #05386b; font-size: 2.7rem;">Department of Electronics Engineering</h1>
</div>

<div class="container-fluid mt-2 mb-5">

   <section class="white-section" id="pricing">
    <center><h2 class="section-heading">Faculty of Electronics Department</h2></center>
    
    <div class="row mb-3">

      <div class="col-lg-4 col-md-6">
         <div class="card">
         <img src="Images\Piyush.png" style="height: 20rem;">
            <div class="card-header">
               <h3>Dr. PIYUSH N. PATEL</h3>
               <p class="card-text">Current Head of Department<br>
                  Ph.D.<br>
               Associate Professor<br>
            pnp@eced.svnit.ac.in</p>
            </div>
            <div class="card-body">
               <p><b>Teaching:</b><br>
                  Optical Communication Systems <br>
                  Optical Networks<br>
                  Analog and Digital Communication Systems<br>
                  Sensors and Transducers<br>
                  Electronic Devices and Circuits<br>
               </p>
            </div>
         </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="card">
           <img src="Images\Lalluwadia.png" style="height: 20rem;">
          <div class="card-header">
            <h3>Prof. A. H. Lalluwadia</h3><br>
               <p class="card-text">M. Tech.<br>
               Associate Professor<br>
               ahl@eced.svnit.ac.in</p>
          </div>
          <div class="card-body">
            <p><b>Teaching:</b><br>
                Telematics <br>
                RF & Microwave Engineering <br>
                
                <b>Area of Research:</b><br>
                RF & Microwave Engineering <br>
                Image Processing</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="card">
            <img src="Images\Upena.png" style="height: 20rem;">
          <div class="card-header">
            <h3>Dr. (Mrs) Upena. D. Dalal</h3><br>
               <p class="card-text">Ph. D.<br>
               Professor<br>
               udd@eced.svnit.ac.in</p>
          </div>
          <div class="card-body">
            <p> <b> Teaching: </b> <br>
                Digital communication <br>
                Adhoc Networks <br>
                Wideband communication <br>
                Mobile computing <br>
                
                <b> Area of Research: </b> <br>
                Wireless Communication techniques <br>
                5G technology <br>
                Wireless systems <br>
                Optical wireless <br>
                Signal processing</p>
          </div>
        </div>
      </div>

      
      <div class="col-lg-4 col-md-6">
        <div class="card">
            <img src="Images\Prashant.png" style="height: 20rem;">
          <div class="card-header">
            <h3>Dr. Prashant K. Shah</h3> <br>
               <p class="card-text"> M.E. <br>
               Associate Professor<br>
               pks@eced.svnit.ac.in</p>
          </div>
          <div class="card-body">
            <p> <b> Teaching: </b> <br>
              Basics of Electronics Engineering <br>
              Digital Circuits <br>
              Microprocessor <br>
              Digital Signal Processing <br>
              
              <b> Area of Research: </b> <br>
              LMI Based Improved Stability Criteria (DSP based)</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="card">
            <img src="Images\Jignesh.png" style="height: 20rem;">
          <div class="card-header">
            <h3>Dr. Jignesh N. Sarvaiya</h3> <br>
              <p class="card-text">Ph. D. <br>
              Associate Professor<br>
            jns@eced.svnit.ac.in</p>
          </div>
          <div class="card-body">
            <p> <b> Teaching: </b> <br>
              Electronic System Design <br>
              Digital Image Processing <br>
              Information Theory & Coding <br>
              Analog Integrated Circuits <br>
              
              <b> Area of Research:</b> <br>
              Image Processing <br>
              Medical Instrumentation</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="card">
            <img src="Images\Zuber.png" style="height: 20rem;">
          <div class="card-header">
            <h3>Dr. Zuber M. Patel</h3> <br>
              <p class="card-text"> Ph. D. <br>
              Associate Professor<br>
            zmp@eced.svnit.ac.in</p>
          </div>
          <div class="card-body">
            <p> <b> Teaching: </b> <br>
              Digital Logic design <br>
              Embedded Systems <br>
              Microelectronics and VLSI <br>
              Microcontrollers and Interfacing <br>
              
              <b> Area of Research: </b> <br>
              HDL/FPGA based design <br>
              VLSI Design of RISC Microprocessors</p>
          </div>
        </div>
      </div>


      <div class="col-lg-4 col-md-6">
        <div class="card">
            <img src="Images\Shweta.png" style="height: 20rem;">
          <div class="card-header">
            <h3>Dr. (Mrs.) Shweta N. Shah</h3>
              <p class="card-text">Ph. D.<br>
              Assistant Professor<br>
            snshah@eced.svnit.ac.in</p>
          </div>
          <div class="card-body">
            <p> <b>Teaching:</b><br>
              Basics of Communication System<br>
              Mobile Communication<br>
              Wireless Communication<br>
              Mobile Computing<br>
              
              <b>Area of Research:</b><br>
              Wireless Communication<br>
              Cognitive Radio<br>
              NavIC/IRNSS</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="card">
            <img src="Images\Mehul.png" style="height: 20rem;">
          <div class="card-header">
            <h3>Prof. Mehul C. Patel</h3><br>
              <p class="card-text">M.E.<br>
              Assistant Professor<br>
            mcp@eced.svnit.ac.in</p>
          </div>
          <div class="card-body">
            <p> <b>Teaching:</b><br>
              Information Theory & Coding<br>
              Application of DSP<br>
              Analog & Digital Communication<br>
              Satellite Communication<br>
              
              <b>Area of Research:</b><br>
              Digital Signal Processing using VLSI</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="card">
            <img src="Images\Abhishek.png" style="height: 20rem;">
          <div class="card-header">
            <h3>Dr. Abhishek Acharya</h3><br>
              <p class="card-text">PhD (Microelectronics & VLSI), IIT Roorkee<br>
              Assistant Professor<br>
            abhishek@eced.svnit.ac.in</p>
          </div>
          <div class="card-body">
            <p> <b>Teaching:</b><br>
              Electronic Devices,Electronic Circuits,<br>
              Linear Integrated Circuits,<br>
              VLSI Design<br>
              <b>Area of Research:</b><br>
              Physics & Modeling of Nano-Scale Devices,<br>
              Wide Bandgap Semiconductors <br>
              2D Materials for Devices & Circuits</p>
          </div>
        </div>
      </div>
    
    </div>

  </section>


</div>

<%- include("partials/footer"); -%>