<%- include("partials/header"); -%>

<div class="navbar-fixed">
   <h1 class="pt-3 pb-3 display-2 text-center nav-head" style="color: #05386b; font-size: 2.7rem;">Department of Electronics Engineering</h1>
</div>>

<div class="container mt-5 justify-content-center">
   <div class="text-center"><h2 class="display-3" style="font-size: 2rem"><strong>B.Tech. and M.Tech. Labs</strong></h2></div>
   <div class="list-group justify-content-center">
      <a href="https://www.svnit.ac.in/web/department/electronics/1EDClab.html"  target="_blank" class="list-group-item list-group-item-action text-center">Basic Electronics Lab</a>
      <a href="https://www.svnit.ac.in/web/department/electronics/2ESDlab.html"  target="_blank" class="list-group-item list-group-item-action text-center">Electronics System Design Lab</a>
      <a href="https://www.svnit.ac.in/web/department/electronics/3DigiLab.html"  target="_blank" class="list-group-item list-group-item-action text-center">Digital Electronics Lab</a>
      <a href="https://www.svnit.ac.in/web/department/electronics/5embeddedlab.html"  target="_blank" class="list-group-item list-group-item-action text-center">Embedded System Lab</a>
      <a href="https://www.svnit.ac.in/web/department/electronics/6CommSysLab.html"  target="_blank" class="list-group-item list-group-item-action text-center">Basic Communication Lab</a>
      <a href="https://www.svnit.ac.in/web/department/electronics/7MOClab.html"  target="_blank" class="list-group-item list-group-item-action text-center">Microwave & Optical Communication Lab</a>
      <a href="https://www.svnit.ac.in/web/department/electronics/8MMRlab.html"  target="_blank" class="list-group-item list-group-item-action text-center">Multimedia Lab</a>
      <a href="https://www.svnit.ac.in/web/department/electronics/10SimLab.html"  target="_blank" class="list-group-item list-group-item-action text-center">Simulation Lab</a>
      <a href="https://www.svnit.ac.in/web/department/electronics/11server-room.html"  target="_blank" class="list-group-item list-group-item-action text-center">Server Room</a>
      <a href="https://www.svnit.ac.in/web/department/electronics/13ProjectLab.html"  target="_blank" class="list-group-item list-group-item-action text-center">Project Lab</a>
   </div> 

   <div class="text-center mt-5"><h2 class="display-3" style="font-size: 2rem"><strong>Research Labs</strong></h2></div>
   <div class="list-group justify-content-center mb-5">
      <a href="https://www.svnit.ac.in/web/department/electronics/9CRLlab.html"  target="_blank" class="list-group-item list-group-item-action text-center">Communication Research Lab</a>
      <a href="https://www.svnit.ac.in/web/department/electronics/4VLSIlab.html"  target="_blank" class="list-group-item list-group-item-action text-center">VLSI Design Lab</a>
      <a href="https://www.svnit.ac.in/web/department/electronics/14TCADlab.html"  target="_blank" class="list-group-item list-group-item-action text-center">TCAD Lab</a>
      <a href="https://www.svnit.ac.in/web/department/electronics/15SRLab.html"  target="_blank" class="list-group-item list-group-item-action text-center">Sensor Research Lab</a>
      <a href="https://www.svnit.ac.in/web/department/electronics/16MLlab.html"  target="_blank" class="list-group-item list-group-item-action text-center">Machine Learning & Computer Vision Lab</a>
   </div>   
</div>

<%- include("partials/footer"); -%>