<%- include("partials/header"); -%>
<div class="navbar-fixed">
   <h1 class="pt-3 pb-3 display-2 text-center nav-head" style="color: #05386b; font-size: 2.7rem;">Department of Electronics Engineering</h1>
</div>>

<div class="container-fluid mb-5">
   <div class="card mb-3">
      <div class="card-header text-center" style="font-weight: bold;">M.Tech. (CS/VLSI) (Graduate Masters Programme)</div>
      <div class="card-body mt-1 mb-1">
         <p class="card-text text-center">One has to earn minimum 60 credits over 2 years of course (Including dissertation work at industry/research institute) Results are awarded on scale of 10.</p>
      </div>   
   </div>
   
   <div class="row justify-content- mt-5">
      <div class="col-sm-6">
         <div class="card">
            <div class="card-body">
               <h5 class="card-title" style="font-size: 1.3rem"><strong>M.Tech. in COMMUNICATION SYSTEMS Course Curriculum</strong></h5>
               <div class="card-body row justify-content-center">
                  <a href="" class="text-center" download>1st Year</a>
                  <p>&nbsp|&nbsp</p>
                  <a href="" download>2nd Year</a>
               </div>
            </div>
         </div>
      </div>
      <div class="col-sm-6">
         <div class="card">
            <div class="card-body">
               <h5 class="card-title" style="font-size: 1.3rem"><strong>M.Tech. Electronics in VLSI & EMBEDDED SYSTEMS Course Curriculum</strong></h5>
               <div class="card-body row justify-content-center">
                  <a href="" class="text-center" download>1st Year</a>
                  <p>&nbsp|&nbsp</p>
                  <a href="" download>2nd Year</a>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>

<%- include("partials/footer"); -%>