<%- include("partials/header"); -%>

<div class="navbar-fixed">
   <h1 class="pt-3 pb-3 display-2 text-center nav-head" style="color: #05386b; font-size: 2.7rem;">Department of Electronics Engineering</h1>
</div>

<div class="container-fluid mb-5">
   <div class="card mb-3">
      <div class="card-header text-center" style="font-weight: bold;">Ph. D. Electronics Engineering</div>
      <div class="card-body">
         <p class="card-text">The doctoral programme in the department trains the candidates to pursue original research ideas and add to the current state-of-the-art and prepares them for academic as well as research and development works. The admissions to the Ph.D. programmes are through written test/interviews conducted in the department.</p>
      </div>
   </div>
</div>

<div class="container-fluid mb-5">
   <div class="card-deck justify-content-center">
      <div class="card mb-3 mr-5" style="max-width: 18rem;">
         <div class="card-body">
            <h5 class="card-title" style="font-size: 1.5rem"><strong>Courses</strong></h5>
            <ul class="list-group list-group-flush">
               <li class="list-group-item">Grade NPTEL-SWAYAM Courses</li>
               <li class="list-group-item">NPTEL Gradesheet</li>
               <li class="list-group-item">PhD Tutorial Gradesheet</li>
            </ul>
         </div>
      </div>
   </div>
</div>

<%- include("partials/footer"); -%>