<%- include("partials/header"); -%>

<div class="navbar-fixed">
   <h1 class="pt-3 pb-3 display-2 text-center nav-head" style="color: #05386b; font-size: 2.7rem;">Department of Electronics Engineering</h1>
</div>

<div class="container mt-5 mb-5">
   <h2 class="text-center">List of existing high ended research facilities available in the department</h2>
   <table class="table table-striped">
      <thead>
         <tr>
            <th scope="col">Sr.No.</th>
            <th scope="col">Name of Laboratories</th>
            <th scope="col">Existing Research facilities</th>
            <th scope="col">Year of establishment & funded by</th>
            <th scope="col">Cost of the Asset(Rs.)</th>
            <th scope="col">Usage Charges</th>
         </tr>
      </thead>
      <tbody>
         <tr>
            <th scope="row">1</th>
            <td>Communication Research Lab</td>
            <td>MXG Vector signal generator 100kHz-3GHz</td>
            <td>8/12/2011, Annual plan grant</td>
            <td>7,98,000/-</td>
            <td>200/- per hour</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Communication Research Lab</td>
            <td>Cognitive Wireless communication Software Defined radio Lab SDR04</td>
            <td>14/05/2014, Annual plan grant</td>
            <td>13,65.000/-</td>
            <td>400/- per hour</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Basic Communication Lab</td>
            <td>Mixed Domain Oscilloscope, 2 channel, 2.5 Gs/s, 100MHz MDO3012</td>
            <td>30/03/2015, Annual plan grant</td>
            <td>28,72,800/-</td>
            <td>1000/- per hour</td>
        </tr>
        <tr>
            <th scope="row">4</th>
            <td>Electronics System Design Lab</td>
            <td>Mixed domain oscilloscope</td>
            <td>04/02/2015, Annual plan grant</td>
            <td>4,78,800/-</td>
            <td>1000/- per hour</td>
        </tr>
        <tr>
            <th scope="row">5</th>
            <td>Electronics System Design Lab</td>
            <td>PCB Proto type Machine</td>
            <td>14/04/13
                TEQUIP</td>
            <td>12,98,850/-</td>
            <td>2000/- (5 x 3 inch)</td>
        </tr>
        <tr>
            <th scope="row">6</th>
            <td>Embedded System Lab</td>
            <td>NetFPGA SUME Board (1 Nos.)</td>
            <td>08/09/2016</td>
            <td>6,96,300/-</td>
            <td>500/- per hour</td>
        </tr>
        <tr>
            <th scope="row">7</th>
            <td>Microwave and Optical Communication lab</td>
            <td>RF vector Analyzer</td>
            <td>13/03/2014</td>
            <td>9,97,875.00/-</td>
            <td>500/- per sample</td>
        </tr>
        <tr>
            <th scope="row">8</th>
            <td>Microwave and Optical Communication laboratory</td>
            <td>CAD FEKO (6.0) Software</td>
            <td>23/02/2011</td>
            <td>12,60,000/-</td>
            <td>300/- per hour</td>
        </tr>
        <tr>
            <th scope="row">9</th>
            <td>Sensor Research Lab</td>
            <td>RSoftDiffect MOD add-on & FEMSIM add-on v2014.09 S/W</td>
            <td>FOS/IN/1413
                01-12-2014</td>
            <td>6,98,250/-</td>
            <td>300/- per hour</td>
        </tr>
        <tr>
            <th scope="row">10</th>
            <td>Sensor Research Lab</td>
            <td>Opti System
                (PROJECT LAB)</td>
            <td>GSI/11.12/10
                20-01-2012</td>
            <td>8,68,613/-</td>
            <td>300/- per hour</td>
        </tr>
        <tr>
            <th scope="row">11</th>
            <td>TCAD Lab</td>
            <td>SCS Parameter Analyzer System</td>
            <td>16/01/2017</td>
            <td>21,21,000/-</td>
            <td>1000/- Per Sample</td>
        </tr>
        <tr>
            <th scope="row">12</th>
            <td>VLSI Lab</td>
            <td>Logic Analyzer (34 Channel)</td>
            <td>11-12-2013</td>
            <td>11,39,250/-</td>
            <td>Rs. 1000/- per hours</td>
        </tr>

         
      </tbody>
   </table>
</div>
<%- include("partials/footer"); -%>